<div class="col-sm-3">
  <div class="card">
    <%= link_to image_tag(movie.image_url.to_s, class: "movie-img card-img-top", alt: "Card image cap"), movie_path(movie) %>
    <div class="card-block">
      <h3 class="card-title"><%= link_to movie.title, movie_path(movie) %></h3>
      <p class="card-text">
        <h4>Dir. <%= movie.director %></h4>
        <h5><%= movie.runtime_in_minutes %> minutes</h5>
        <h5>Release Date: <%= formatted_date(movie.release_date) %></h5>
        <p><%= movie.description %></p>
        <p>Average Rating: <%= movie.review_average %>/10</p>
      </p>
    </div>
  </div>
</div>